.site-header {
  background-color: #ff4e00;
}

.header-logo {
  height: 30px;
}

.header-logo-border {
  border-right: 2px solid #cc3e00;
  padding-right: 17px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.header-app-name {
  color: white;
  padding-left: 12px;
}