.site-header {
  display: flex;
  background-color: #ff4e00;
  justify-content: space-between;
}

.header-logo {
  height: 32px;
}

.mat-toolbar-single-row {
  height: 64px;
}

.header-logo-border {
  border-right: 1px solid #cc3e00;
  padding-right: 17px;
}

.header-app-name {
  display: flex;
  color: white;
  padding-left: 12px;
  justify-self: left;
}

.header-username {
  color: white;
  padding: 0 10px;
  font-size: 21px;
}

.header-left { 
  display: flex;
}

.header-title {
  margin: auto;
  padding-left: 5px;
  h1 {
    font-size: 24px;
  }
}

.lighter-font {
  font-weight: 400;
}