mat-card#teams-list {
    width: 95%;
    height: 85vh;
    padding: 0px;
    margin: 20px;
    align-self: center;
}

mat-card-title {
    color: #5e6f79;
    padding: 10px 10px;
}

.member-avatar {
    cursor: move;
    height: 2.75vw;
    margin: .5vw;
}

.team-member-avatar {
    display: flex;
    width: 100%;
    align-items: center;
}

.expansion-panel-tools {
    mat-icon {
        display: flex;
        justify-content: right;
        color: rgba(69, 90, 100, .87);
        margin-right: 12px;
        cursor: pointer;
        font-size: 200%;
    }
    align-items: flex-end;
}

.member-list {
    display: flex;
    flex-direction: row;
}

.cdk-drag-placeholder {
    opacity: 50%;
  }
  
.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.member-list.cdk-drop-list-dragging .member-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.team-counter {
      margin-right: 1.7vh;
      font-weight: 300;
}

