<mat-card id="teams-list">
   <mat-card-title>Teams</mat-card-title>
   <mat-card-content>
      <mat-accordion multi="true" cdkDropListGroup>
         <div *ngFor="let currentTeam of teams">
            <app-team-list-item [team]="currentTeam"></app-team-list-item>
         </div>
      </mat-accordion>
    </mat-card-content>
    <mat-action-row>
      <mat-icon *ngIf="selectedTeam !== null" matTooltip="{{selectedTeam.name}} History" matTooltipPosition='above'>history</mat-icon>
      <mat-icon (click)='openAddNewTeamDialog()' matTooltip="Add Team" matTooltipPosition='above'>add_box</mat-icon> 
    </mat-action-row>
  </mat-card>
