@import '../../styles';

mat-card#teams-list {
    width: 95%;
    height: 85vh;
    padding: 0px;
    margin: 20px;
    align-self: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    mat-card-content {
        overflow-y: auto;
        flex-grow: 1;
    }

    mat-card-title {
        color: $fontcolor;
        padding: 10px 10px;
        flex-grow: 0;
        border-bottom: 1px solid lightgray;
    }

    mat-action-row {
        flex-grow: 0;
        color: gray;

        mat-icon {
            margin: 0 15px;
        }
    }
}
