<mat-card id="teams-list">
   <mat-card-title>Teams</mat-card-title>
   <mat-divider></mat-divider>
   <mat-card-content>
      <mat-accordion>
         <mat-expansion-panel *ngFor=" let team of teams">
            <mat-expansion-panel-header>
               <mat-panel-title>
                  {{team.name}}
               </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='team-member-avatar'>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
               <div><img class='member-avatar'
                     src="https://trello-attachments.s3.amazonaws.com/5d49c1042fc7fe6a09ef9d42/5da5ec80f6b7272aa877007a/70f92d8b840cfff2e32985f3840cd26a/avatar.png">
               </div>
            </div>
         </mat-expansion-panel>
      </mat-accordion>
   </mat-card-content>
</mat-card>