mat-card#teams-list {
    width: 95%;
    height: 85vh;
    padding: 0px;
    margin: 20px;
    align-self: center;
}

mat-card-title {
    color: #5e6f79;
    padding: 10px 10px;
}

.member-avatar {
    height: 40px;
    padding: 10px;
    cursor: move;
}

.team-member-avatar {
    display: flex;
}


// .expansion-panel-background {
//     background-color: lightgray;
// }

.expansion-panel-tools {
    mat-icon {
        display: flex;
        justify-content: right;
        color: rgba(69, 90, 100, .87);
        margin-right: 12px;
        cursor: pointer;
    }
}