.info-container {
    width: 500px;
    height: auto;
    margin-right: 50px;
    margin-left: 325px;    
    margin-top: 40px;
}

.info-container-content {
    font-size: large;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
}