.info-container {
    width: 95%;
    height: 80vh;
    padding: 0px;
    margin: 20px;
    align-self: center;
}

.info-container-content {
    font-size: large;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
}