<form class="team-dialog" [formGroup]="teamForm">
  <mat-form-field class='team-name'>
    <input matInput placeholder="Team Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="team-description">
    <textarea matInput placeholder="Team Description" formControlName="description"></textarea>
  </mat-form-field>
  <div class="team-input-buttons">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="addTeam(teamForm)">Submit</button>
  </div>
</form>

