.team-dialog {
  width: 50vw;
}

.team-name{
  width: 100%;
  input{
    width: 100%;
  }
}

.team-description {
  width: 100%;
}

.team-input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
      margin-right: 1.25vw;
      font-weight: lighter;
  }
}